Options -Indexes

<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
  Header set Cross-Origin-Resource-Policy "cross-origin"
</IfModule>

<FilesMatch "\.(php|phar|phtml|php[0-9])$">
  Deny from all
</FilesMatch>
